@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.search-content{
    margin-top: 100px;
}

.rectangle {
    position: absolute;
    width: 1251px;
    height: 270px;
    left: 0px;
    top: 0px;

    background: #E6F7FF;
    border-radius: 16px;

    margin-top: 116px;
    margin-left: 90px;
}

.search-content-block {
    position: absolute;
    width: 502px;
    height: 46px;
    left: 94px;
    top: 66px;

    /* Semibold / 38 px | 46 px */

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 38px;
    line-height: 46px;
    /* identical to box height, or 121% */


    /* Grey / grey-9 */

    color: #262626;
}

.input-plate {
    position: absolute;
    margin-top: 124px;
    margin-left: 94px;
    padding: 8px 27px 8px 17px;

    /* Grey / grey-1 */

    background: #FFFFFF;
    /* Grey / grey-5 */

    border: 1px solid #D9D9D9;
    box-sizing: border-box;
    border-radius: 4px;
    height: 40px;
    width: 676px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    display: flex;
    align-items: center;

    /* Grey / grey-6 */

    color: #BFBFBF;
}

.find-button {
    position: absolute;
    width: 101px;
    height: 40px;
    left: 94px;
    top: 188px;

    background: #1890FF;
    border-radius: 4px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    display: flex;
    align-items: center;
    text-align: center;

    /* Grey / grey-1 */

    color: #FFFFFF;
    padding: 8px 16px;
}